<nav class="navbar">
  <div class="logo-container">
    <img src="naturalTransparente1.png" alt="RH Soluciones" class="main-logo">
  </div>

  <div class="nav-right">
    <ul class="nav-links">
      <li><a href="#">INICIO</a></li>
      
      <li class="dropdown">
        <a href="#seccion-servicios" class="dropbtn">SERVICIOS</a>
        <ul class="dropdown-content">
          <li><a href="#legal">ASESORÍA LEGAL CORPORATIVA</a></li>
          <li><a href="#contable">ASESORÍA CONTABLE</a></li>
          <li><a href="#tributaria">ASESORÍA TRIBUTARIA</a></li>
          <li><a href="#sst">AUDITORÍA SST</a></li>
          <li><a href="#sunafil">DILIGENCIA SUNAFIL</a></li>
          <li><a href="#itse">DEFENSA CIVIL - ITSE</a></li>
        </ul>
      </li>

      <li><a href="javascript:void(0)" (click)="toggleMenu()" class="contact-trigger">CONTACTO</a></li>
    </ul>
    
    <button class="burger-btn" (click)="toggleMenu()">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a href="https://wa.me/51908883886" target="_blank" class="btn-whatsapp">WHATSAPP</a>
  </div>
</nav>

<div class="sidenav" [class.open]="isMenuOpen()">
  <button class="close-btn" (click)="toggleMenu()">✕</button>
  <div class="sidenav-content">
    <h2 class="sidenav-title">RH SOLUCIONES CONTABLES</h2>
    <p class="sidenav-description">
      Es un Estudio Contable con una plana profesional de Contadores altamente calificados.
      Contamos con experiencia en servicios de Asesoría Contable, Tributaria, Laboral, Administrativa, Financiera y 
      <strong>"Especialistas en el sector construcción e inmobiliaria".</strong> Nuestra prioridad es convertirnos en socios 
      estratégicos de nuestros clientes, para lograr su crecimiento y alcance de objetivos.
      <strong><br>RH SOLUCIONES CONTABLES & TRIBUTARIAS SAC.<br>RUC: 20607935158</strong>
    </p>
    <div class="contact-section">
      <h3 class="section-subtitle">CONTÁCTANOS:</h3>
      <div class="contact-item"><label>Correo:</label> <span>prurush@rhconta.com</span></div>
      <div class="contact-item"><label>Móvil:</label> <span>908883886</span></div>
    </div>
  </div>
</div>
<div class="sidebar-overlay" *ngIf="isMenuOpen()" (click)="toggleMenu()"></div>