<section class="hero">
  <div class="overlay">
    <div class="content">
      <h3 class="subtitle">ESTUDIO CONTABLE</h3>
      
      <h1 class="main-title">
        RH SOLUCIONES BRINDA <br>
        <span class="written-lines" #typedElement></span>
      </h1>
      
      <p class="description">
        Tenemos amplia experiencia en el sector, nuestros clientes nos reconocen 
        como un estudio contable de confianza y preferencia.
      </p>
      
      <a href="#seccion-servicios" class="btn-red">Nuestros Servicios</a>
    </div>
  </div>
</section>