/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

#seccion-servicios {
  scroll-margin-top: 100px;
}
/* Agregalo en styles.css (Global) */
html {
  scroll-behavior: smooth;
}